.jumbotron{
	width: 350px;
	text-align: center;
	margin-left: 5%;
	bottom : 0;
    position: absolute;
	z-index: 5;
	border-radius: 5px;
    background-color: white;
}

.board{
    width:90%;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    background-image: url("http://res.cloudinary.com/skore-production/image/upload/taa1ivu8fd1gzjbowa4w");
    z-index: 1;
}

.row{
    margin-top: 10px;
}
